<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="default">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
                <list>
                    <value>classpath:hibernate.properties</value>
                    <value>classpath:database.properties</value>
                    <value>classpath:javaMail.properties</value>
                </list>
            </property>
        </bean>
        <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
            <property name="dataSource" ref="dataSource" />
            <property name="changeLog" value="classpath:db-changelog.xml" />
            <property name="contexts" value="test, production" />
            <property name="changeLogParameters">
                <map>
                    <entry key="schemaName" value="${jdbc.schemaName}" />
                    <entry key="shortVarchar" value="varchar(100)" />
                    <entry key="normalVarchar" value="varchar(255)" />
                    <entry key="longVarchar" value="varchar(500)" />
                    <entry key="double" value="float8" />
                    <entry key="int" value="int4" />
                    <entry key="long" value="int8" />
                    <entry key="dateType" value="timestamp with time zone" />
                    <entry key="enumeratedString" value="varchar(25)" />
                    <entry key="boolean" value="bool" />
                </map>
            </property>
        </bean>
    </beans>

    <beans profile="test">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
                <list>
                    <value>classpath:hibernateTest.properties</value>
                    <value>classpath:databaseTest.properties</value>
                    <value>classpath:javaMail.properties</value>
                </list>
            </property>
        </bean>
    </beans>

</beans>